@{
    ViewBag.Title = "Contact";
}

<h2 style="text-align:center" ;>Contact Imformation</h2>
<address style="text-align:center;">
    Virtusa Pvt Ltd<br />
    Vamsi<br />
    Vizag,Andhra pradesh,<br />
    9100699605.
</address>